click==8.0.1
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.26
protobuf==3.18.0
python-dotenv==0.19.0
python-http-client==3.3.2
sendgrid==6.8.1
starkbank-ecdsa==1.1.1
Werkzeug==2.0.1
